---
CompileFlags:
  Add: [-xc, -Wall, -Werror, -pedantic, -std=c11]
---
If:
  PathMatch: eecs\.h
CompileFlags:
  Add: [-DEECS_IMPLEMENTATION]
---
If:
  PathMatch: tests/.*\.c
CompileFlags:
  Add: [-I../]
